body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #4F695F;
    --secondary-color: #4BD0D2;
    --accent1-color: #A8F9FF;
    --accent2-color: #BAA4A1;

    --heading-font: 'Coustard', serif;
    --paragraph-font: 'Catamaran', sans-serif;

    --nav-background-color: #4BD0D2;
    --nav-link-color: #4F695F;
    --nav-hover-link-color: #BAA4A1;
    --nav-hover-background-color: #4F695F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent2-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}